<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="bootstrap.min.css" rel="stylesheet"> -->

    <title>Cadastro de Desenvolvedores</title>
</head>

<body>
    <h1>Cadastro de Desenvolvedores</h1>
    <form action="{{ url_for('send_data')}}" id="cadastro" method="POST">
        <div id="nome">
            <label>Nome</label>
            <input type="text" name="nome">
        </div>
        <div id="habilidade">
            <label>Habilidade</label>
            <input type="text" name="habilidade">
        </div>
        <input type="submit" value="Enviar">
    </form>
    <button type="submit" formaction="{{ url_for('show_data')}}" formmethod="GET">Mostrar</button>
    <h4>{{devs}}</h4>







    <!-- <script src="bootstrap.bundle.min.js"></script> -->
</body>

</html>