<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cadastro de Desenvolvedores</title>
</head>

<body>
    <h1>Cadastro de Desenvolvedores</h1>
    <form action="{{ url_for('send_data')}}" id="cadastro" method="POST">
        <div id="nome">
            <label>Nome</label>
            <input type="text" name="nome">
        </div>
        <div id="habilidade">
            <label>Habilidade</label>
            <input type="text" name="habilidade">
        </div>
        <input type="submit" value="Enviar">
    </form>
    <br>

    <form action="{{ url_for('show_data')}}" id="mostrar" method="GET">
        <label>Desenvolvedores Cadastrados</label>
        <input type="submit" value="Mostrar">
        <ul>
            {% for i in nomes %}
            <li>{{i}}</li>
            {% endfor%}
        </ul>
    </form>
    <br>

    <form action="{{ url_for('del_data')}}" id="cadastro" method="POST">
        <label>Nome</label>
        <input type="text" name="delnome">
        <input type="submit" value="Deletar">
    </form>


</body>

</html>